MONGO_URI=mongodb+srv://<db_user>:<db_pass>@<cluster>.mongodb.net/
DB_SERVER=<cluster>.mongodb.net
DB_USER=<db_user>
DB_PASS=<db_pass>
DB_DATABASE=shoppingonline
EMAIL_USER=<email_user>
EMAIL_PASS=<email_pass>
JWT_SECRET=shoppingonline-secret
JWT_EXPIRES=7d
